@import 'inc/w3';

@import 'global/general';

@import 'animations/barba';

// Custom
a {
    text-decoration: none;
    word-break: break-all;
}

footer a {
    margin: 0 8px;

    .fa {
    	font-size: 24px;
    }
}

@media (max-width: 919px) {
	.left-sidebar, .right-content {
		width: 100%;
	}
}